/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    color: #313639;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
  Story Blocks
  ========================================================================== */

.story-block-wrapper {
    padding: 16px;
}

.stories .story-block-large .about-image {
  background: url('../img/about-image.jpg');
  background-size: cover;
  position: relative;
}
.story-block-large .story-image-bg:hover, .story-block-small .story-image-bg:hover {
  background: linear-gradient(to right, rgba(238,142,80,0.8),rgba(238,142,80,0.8));
  transition: background 0.5s ease-in;
  cursor:pointer;
}
.story-block-large .story-1-image-bg {
    background: linear-gradient(to right, rgba(238,142,80,0.8),rgba(238,142,80,0.8)), url('../img/story-1.jpg');
    background-size: cover;
    position: relative;
}

.story-block-small .story-2-image-bg {
  /* background: linear-gradient(to right, rgba(238,142,80,0.8),rgba(238,142,80,0.8)), url('../img/story-2.jpg'); */
  background:url('../img/story-2.jpg');
  background-size: cover;
}

.story-block-small .story-3-image-bg {
  background:url('../img/story-3.jpg');
  background-size: cover;
}

.story-block-small .story-4-image-bg {
  background:url('../img/story-4.jpg');
  background-size: cover;
}

.story-block-small .story-5-image-bg {
  background:url('../img/story-5.jpg');
  background-size: cover;
}

.story-block-img-placeholder {
    height: 100%;
    background: url('http://via.placeholder.com/350x150');
    background-size: cover;
    background-position: center;
}

.story-block-large {
    height: 100%;
    max-height: 600px;
}

.story-block-large-headline {
    z-index: 3;
    font-size: 56px;
    line-height: 60px;
}

.story-block-large-tagline {
  z-index: 3;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 20px;
}

.story-block-large-headline-white {
  color:white;
    z-index: 3;
    font-size: 56px;
    line-height: 60px;
}

.story-block-large-tagline-white {
  color:white;
  z-index: 3;
    font-family: 'Merriweather', serif;
    font-size: 16px;
    line-height: 20px;
}

.story-block-small {
    height: 100%;
    max-height: 284px;
}

.story-block-small-headline {
  z-index: 3;
    font-size: 32px;
    line-height: 36px;
}

.story-block-small-tagline {
  z-index: 3;
    font-family: 'Merriweather', serif;
    font-size: 12px;
    line-height: 16px;
}

/* ==========================================================================
      DESKTOP NAV
      ========================================================================== */
.off-on-logo {
  /*  */
}
.desktop-nav {
    margin-bottom: 24px;
}

.desktop-nav li {
    display: inline;
}

.desktop-nav li a {
    text-decoration: none;
}

.desktop-nav li a:before {
    display: none;
}

.menu {
    float: right;
}

.menu:after {
    clear: all;
}

.menu-hover-lines {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.35s ease;
}

.menu-hover-lines li a {
    padding: 0.75rem 0;
    color: rgba(10, 10, 10, 0.5);
    position: relative;
    margin-left: 1rem;
}

.menu-hover-lines li:first-child a {
    margin-left: 0;
}

.menu-hover-lines li.active>a {
    background-color: transparent;
}

.menu-hover-lines a:before, .menu-hover-lines a::after {
    height: 3px;
    position: absolute;
    content: '';
    transition: all 0.35s ease;
    background-color: #ee8e50;
    width: 0;
}

.menu-hover-lines a::before {
    top: 0;
    left: 0;
}

.menu-hover-lines a::after {
    bottom: 0;
    right: 0;
}

.menu-hover-lines a:hover, .menu-hover-lines li.active>a {
    color: #0a0a0a;
    transition: all 0.35s ease;
}

.menu-hover-lines a:hover::before, .menu-hover-lines .active a::before, .menu-hover-lines a:hover::after, .menu-hover-lines .active a::after {
    width: 100%;
}

/* ==========================================================================
      CURTAIN MENU
      ========================================================================== */

.curtain-menu-wrapper .curtain-menu-list li.active a {
  background: none;
  color: #ee8e50;
}
.menu .active>a {
  background:none;
}
.curtain-menu-open .curtain-menu-show {
    display: block;
    transition: all 0.2s ease;
}

.curtain-menu-hide {
    display: none;
    transition: all 0.2s ease;
}

.curtain-menu {
    z-index: 2;
    position: relative;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
    background-color: white;
}

.curtain-menu-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 3;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    transition-delay: 0.5s;
    visibility: hidden;
}

.curtain-menu-wrapper .curtain-menu-list li {
    width: 100%;
    font-weight: 100;
    font-size: 2.8125rem;
    min-height: 2.8125rem;
    padding: 1rem;
    text-align: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: all 0.2s ease-in;
}

.curtain-menu-wrapper .curtain-menu-list li:hover {
    background: rgba(254, 254, 254, 0.7);
}

.curtain-menu-wrapper .curtain-menu-list li:hover a {
    color: #1779ba;
}

.curtain-menu-wrapper .curtain-menu-list li a {
    color: darkgrey;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.curtain-menu .curtain {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    transition: -webkit-flex 0.45s;
    transition: flex 0.45s;
    transition: flex 0.45s, -webkit-flex 0.45s, -ms-flex 0.45s;
}

.curtain-menu .curtain:nth-child(2) {
    -webkit-flex: 1 0 100%;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    background: transparent;
}

.curtain-menu .curtain:nth-child(odd) {
    background: #0c3e5f;
}

.curtain-menu-button {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    z-index: 5;
}

.curtain-menu-button-toggle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 5000px;
    background: #fefefe;
    position: relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.curtain-menu-button-toggle div {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 3px;
    background: #1779ba;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    transition-delay: 0.5s;
}

.curtain-menu-button-toggle .bar1 {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

.curtain-menu-button-toggle .bar2 {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-180deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-180deg);
    transform: translateX(-50%) translateY(-50%) rotate(-180deg);
}

.curtain-menu-button-toggle:hover {
    background: #1779ba;
}

.curtain-menu-button-toggle:hover div {
    background: #fefefe;
}

.curtain-menu-button-toggle:active {
    box-shadow: none;
}

.curtain-menu-open .curtain:nth-child(2) {
    -webkit-flex: 0 0 0%;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
}

.curtain-menu-open .curtain-menu-wrapper {
    -webkit-transform: translateY(0%);
    -ms-transform: translateY(0%);
    transform: translateY(0%);
    visibility: visible;
    pointer-events: all;
}

.curtain-menu-open .curtain-menu-button-toggle .bar1 {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-45deg);
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
}

.curtain-menu-open .curtain-menu-button-toggle .bar2 {
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-135deg);
    transform: translateX(-50%) translateY(-50%) rotate(-135deg);
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.height-100 {
    height: 100%;
}

/* padding small -- 16px */

.padding-s-top {
    padding-top: 16px;
}

.padding-s-bottom {
    padding-bottom: 16px;
}

.padding-s-left {
    padding-left: 16px;
}

.padding-s-right {
    padding-right: 16px;
}

.padding-s-bound {
    padding: 16px;
}

/* padding medium -- 24px */

.padding-m-top {
    padding-top: 24px;
}

.padding-m-bottom {
    padding-bottom: 24px;
}

.padding-m-left {
    padding-left: 24px;
}

.padding-m-right {
    padding-right: 24px;
}

.padding-m-bound {
    padding: 24px;
}

/* padding large -- 24px */

.padding-l-top {
    padding-top: 24px;
}

.padding-l-bottom {
    padding-bottom: 24px;
}

.padding-l-left {
    padding-left: 24px;
}

.padding-l-right {
    padding-right: 24px;
}

.padding-l-bound {
    padding: 24px;
}

/*
 * Hide visually and from screen readers
 */

/* //medium+ screen sizes */

@media only screen and (min-width:640px) {
    .mobile-only {
        display: none;
    }
    .desktop-only {
        display: block;
    }
}

/* //small screen sizes */

@media only screen and (max-width: 639px) {
    .mobile-only {
        display: block;
    }
    .desktop-only {
        display: none;
    }
}

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before, .clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *, *:before, *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a, a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after, a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre, blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr, img {
        page-break-inside: avoid;
    }
    p, h2, h3 {
        orphans: 3;
        widows: 3;
    }
    h2, h3 {
        page-break-after: avoid;
    }
}
